[2020-04-09 09:49] stackpoint opened #2 "Released Vassals Ideas"
Countries that are released as a vassal (and in general) don't have idea groups in this modpack.

The historical_idea_groups setting controls the ideas that countries spawn with even when AI_USES_HISTORICAL_IDEA_GROUPS is disabled and this modpack voids the historical_idea_groups setting.

[2020-04-09 10:30] stackpoint commented on #2
Here are a couple options:

1. Individually write historical_idea_groups for the 830+ tags
- flogi wisely decided that this was a huge waste of time and just voided all the historical_idea_groups instead of trying to fit 16 idea groups for 800+ vanilla tags

2. Setup up generic historical_idea_groups
- Not actually difficult since you can just use a regular expression or python script to modify al

[2020-04-09 17:17] stackpoint commented on #2
I've tested an idea ( https://github.com/stackpoint/excelmakesbelhappypack/pull/3/commits/24553ab3aeec2e362a9055671d57cdfe6c65d0d8 ) where I added a decision that an AI can click for free points when they don't have idea groups filled out but as expected the AI did not always fill the idea groups in a timely fashion even with 90% idea cost reduction and ended up using the monarch points to take te

[2020-04-09 23:36] mellester commented on #2
My vote would be to use pyhton to genrate 800+ random idea groups for tags

[2020-04-10 09:18] stackpoint opened #3 "Leader Limit"
Possible suggestions:
- Scales with manpower
- Scales with force limit
- Scales with technology
- Scales with era
- Use [common universalis](https://steamcommunity.com/sharedfiles/filedetails/?id=1942065576) system
- Remove cap entirely

[2020-04-10 09:24] stackpoint commented on #3
Having the leader limit scale with manpower/force limit/era could be implemented using a series of triggered modifiers.

Basically something like this:

[code]

[2020-04-11 05:24] stackpoint commented on #2
As an aside, [this](https://github.com/TheDivexz/excelmakesbelhappypack/blob/master/common/countries/Natives.txt#L7) is why the colonial nations don't spawn in with any ideas groups. We don't have to fill out an entire list of groups but adding expansion_ideas will make them spawn in with that idea group at least. Would solve having to set various factors in the idea groups code.

[2020-04-11 06:59] mellester commented on #2
As a alternative you can have a event fire that adds the idea group and ideas to the nation just released in question. Using add_idea_group and add_idea  A quick fix would be to directly copy the overlords ideas and start working from there.

[2020-04-11 08:05] stackpoint commented on #2
In my testing the AI will pick idea groups within 30 days of being spawned so no need to copy the overlords ideas. After that a decision can be used to grant them those ideas. I have a draft I will upload in a moment.

[2020-04-11 08:33] stackpoint commented on #2
See: https://github.com/TheDivexz/excelmakesbelhappypack/pull/5

[2020-04-11 09:28] mellester opened #7 "Give extra relation for only military access"
A triggered modifier for every player nation that adds a +1 relations for nations with only  Mill acces relations.

[2020-04-11 18:04] stackpoint opened #9 "Graphic Packs"
I think the Theatrum Orbis Terrarum graphic pack looks pretty good but if we're offering different versions of the mod with and without graphic packs shouldn't the no-graphic version be the main version?

[2020-04-11 18:18] mellester opened #10 "On_action long term fix."
My suggestion is to move every line in the_onaction to a event per mod pack.
So in the future when those get updated we can just copy paste.

[2020-04-11 19:56] stackpoint commented on #9
Got the confirmation that this is the way it is.

[2020-04-11 19:56] #9 closed, assigned to stackpoint, afowl, Stiopa866

[2020-04-12 07:33] stackpoint opened #11 "Dev Click Branch"
See: https://github.com/TheDivexz/excelmakesbelhappypack/tree/dev-click

Ran some test games. It looks like the dev clicks are working correctly.

However, I was definitely suffering from performance problems in this branch compared to the master branch. @mellester have you noticed this?

[2020-04-12 14:09] mellester commented on #11
i have not noticed. i might make the dev click bi-yearly then  and mayby run the profiler

[2020-04-12 18:14] stackpoint opened #14 "Infinite WHILE - flavorKOR.txt"
Vanilla events file flavorKOR.txt causing infinite WHILE loop with event flavor_kor.10

Most likely to do with the estate modification but its probably safer to disable the event chain since it can cause crashes.

`[basiceffects.cpp:386]: Warning: while-loop aborted after executing 100000 times`

[2020-04-13 09:40] stackpoint commented on #11
Did you make any progress with this? I found a lot of target errors in the error.log files. About 600,000 lines of this:
[code]

I also did a bit of testing and I found that this commit doesn't have any performance problems: https://github.com/TheDivexz/excelmakesbelhappypack/tree/8d2aac6222c4f588def7e572f19d3f4455c4326f

This is the commit before you added the "Build a min into devclick" commit a

[2020-04-13 09:46] mellester commented on #11
Hmm weird, the min into devclick is a simple small change. The 2 after that however was a mison expanded fix . As in I moved sthe startup events of ME so it would trigger on startup.
And moved the a the on_develment to a singel file

[2020-04-13 10:00] mellester commented on #14
This seems to be becuase korea doesnt have 3 provinces to assgin the burghers too.
As in this event assumes there are 3 provinces to assgin the burgers too and whiles until it does

[2020-04-13 10:16] stackpoint commented on #14
It checks the remaining provinces within the while loop so you shouldn't need to check it at the start of the event.

[2020-04-13 10:21] stackpoint commented on #14
[code]

The while loop checks if there are <3 burghers AND if there are any provinces left to assign to them.

[2020-04-13 11:11] mellester commented on #14
Your right I seems to not understand why it breaks. becuase it should indeed  give 3 estates to the burgers unless there are less than 3 korean culture stated non capital cores. which might be the case

[2020-04-14 04:52] stackpoint commented on #10
There are currently duplicate on_actions which cause them to overwrite each other. They also just need to be merged in the first place.

[2020-04-14 09:37] stackpoint commented on #14
It could be an estate problem since the modpack did extensive work to the estates files.

[2020-04-14 09:55] stackpoint commented on #11
I tried to find the profiler but it is no longer there and found [this](https://forum.paradoxplaza.com/forum/index.php?threads/eu4_profiling-exe-is-gone-after-1-29-patch.1257121/) instead.

This is the [error.log](https://github.com/TheDivexz/excelmakesbelhappypack/files/4474533/error.log) file of the game running for a couple of days on the [dev click branch](https://github.com/TheDivexz/excelmak

[2020-04-14 14:25] mellester commented on #11
Might indeed be the case. I was unable to pin down the problem but somehow manged to get a commit to stop giving erros

[2020-04-14 20:44] stackpoint commented on #11
I don't think it has to be separated into specific adm/dip/mil ideas. You can wait 30 days for the AI to choose the groups and then add ideas one by one until you run out of total ideas.

[2020-04-14 22:55] stackpoint commented on #2
See: https://github.com/TheDivexz/excelmakesbelhappypack/issues/11#issuecomment-613474612

[2020-04-15 06:51] stackpoint commented on #11
Had a chance to test [this](https://www.dropbox.com/s/0sixndm5mjlbtjq/HotMess.7z?dl=0) from the discord.

I wasn't able to get the catch and release ideas working at all. Was there a certain method I'm missing?

Seems like there are still performance issues with the dev click (?); 15 years at speed 5 with your branch took me 15 minutes while the original branch only took 10 minutes.

Still getting

[2020-04-16 00:33] stackpoint commented on #11
I tested the new branch by releasing the country entirely instead of vassalizing them and it gave them the ideas for Economic.

However the dev click button does not seem to be working.

[2020-04-16 03:00] stackpoint opened #18 "Horde Ideas Transfer/Duplicate Event Files"
So making horde ideas transfer over to a new group shouldn't be much of problem at all but the problem is that there are two almost identical Idea Variation events files in the modpack.
[code]
Need to figure out which one we want to be using and delete the other.

[2020-04-17 15:50] stackpoint opened #20 "Experimental Building Order for AI"
By Spirit Baker on Discord:

https://www.dropbox.com/sh/bspowrminl84vle/AADx8P_5LyL7NVRNsCb0GVDIa?dl=0

- experimental building order for AI, should generally work, needs further testing tho
- AI only decision for building fort in a capital, cripples small AI's that just have 5 monthly income to press it, I've seen AI building forts without it
- I think 0 weight modifier next  to has_construction

[2020-04-17 20:52] Belusterk opened #22 "GE, and IV estate issue"
GE, and IV estate clicks need to be check for the same value for the clicks

[2020-04-17 23:19] stackpoint commented on #14
@mellester did this: https://github.com/mellester/excelmakesbelhappypack/commit/2f54b61ce55601ffe26aa383b7a5387529746a07 actually fix the issue? I thought the vanilla loop logic was okay? I don't think it made the master branch either.

[2020-04-18 05:52] Belusterk opened #23 "Increase Development Button cant be clicked"
![image](https://user-images.githubusercontent.com/51682017/79629343-09fc9300-8117-11ea-8ae7-89d7d63b50ae.png)

Idk if this cant be done by the player, i looked at the code but i see only ai can use this

[2020-04-18 05:57] stackpoint commented on #23
Looking at the code right now, players should be able to click the button at least. Give yourself max mil power and see if you can click on it.

[2020-04-18 05:58] Belusterk commented on #23
![image](https://user-images.githubusercontent.com/51682017/79629472-19301080-8118-11ea-9e51-e8df87d06c80.png)

[2020-04-18 05:59] stackpoint commented on #23
Can you post your error.log file? I can't boot up the game at the moment so I can't test it in game at the moment.

[2020-04-18 06:05] Belusterk commented on #23
[error.log](https://github.com/TheDivexz/excelmakesbelhappypack/files/4496143/error.log)

[2020-04-18 06:05] stackpoint commented on #23
I'm not 100% familiar with paradox syntax but there is missing spaces between the '=' signs which could be causing errors.

[2020-04-18 06:07] stackpoint commented on #23
Okay thanks for the file. Found possible errors. Will post again in a second.

[2020-04-18 06:19] stackpoint commented on #23
Okay, found the missing brackets. I'm not sure if that will have fixed it though. Please let me know.

[2020-04-18 07:00] #23 closed, assigned to mellester, stackpoint

[2020-04-18 07:02] SpiritBaker opened #24 "Issues with mission buildings"
![wrssz](https://user-images.githubusercontent.com/34450337/79630595-7d80bd80-8174-11ea-8141-b4bc4e0deb43.png)
Two Tax buildings of different tiers in the same province

![missionsPOL](https://user-images.githubusercontent.com/34450337/79630627-c0db2c00-8174-11ea-9b23-8e8a59ca2951.png)

[2020-04-18 07:19] SpiritBaker commented on #20
Issues with Courthouse and Town Halls, AI doesn't see free building slot and hardcoded to replace them if he needs an extra slot. Stops AI from functioning properly. Only permanent solution that comes to my mind, is to disable 2 first tiers for AI

Issues with ME building, AI builds them even with ai_will_do = 0. Possibly also freezes the AI as result.

Makes plzbuildfortdummy.txt decision redunda

[2020-04-18 07:29] stackpoint commented on #20
Will make sure to disable the decision if it works as intended.

[2020-04-18 08:19] SpiritBaker commented on #20
Updated the dropbox, disabling ME buildings. AI should avoid building Courthouse and Town Halls.

If u have nothing to do, keep the game running in background with this.

[2020-04-18 12:42] mellester commented on #23
nice job

[2020-04-18 12:43] stackpoint commented on #23
@mellester I have an update coming up in a second. If you can take a look.

[2020-04-18 16:38] SpiritBaker commented on #20
Updated the dropbox again. Fixed most of the stuff.
Blocked AI from replacing buildings with free building slot. That was the cause for most of the issues.

[2020-04-18 17:27] stackpoint commented on #20
Then do we still have to remove the shipyard from Venice? Or the ME buildings?

[2020-04-18 18:13] SpiritBaker commented on #20
I've simplified the trigger for Shipyard and Docks, they only require ideas now. They both can be build in province now, and that was the main problem.  So even ideas requirement can be potentially dropped.

AI is still able to build ME buildings somehow, but it does not causes any problems anymore.

Court House, Town Hall line up can potentially cause issues for opm's and Small AI's. The value se

[2020-04-18 21:04] stackpoint commented on #2
I think there is an expectation that your colonial nation take expansion as their first idea group, whether they can actually afford to colonize or not. Until we figure out the AI logic causing them not to choose it, we should set it manually in historical_idea_groups.

[2020-04-18 22:31] stackpoint commented on #11
Performance still poor. 11 years in 10 minutes compared to the following:

There also seems to be a problem with the institution tech penalty now. It's not calculating the correct amount now. Looks like the on_startup action is overwriting the institution check date.

[2020-04-18 23:43] mellester commented on #11
In which case i Might jsut turn it into a random dev province

[2020-04-19 11:24] stackpoint commented on #10
Merged the final on_actions here: https://github.com/TheDivexz/excelmakesbelhappypack/commit/4a1e56d9157b00d8b9f04795948a862fcf99e51c

[2020-04-19 11:24] #10 closed, assigned to mellester

[2020-04-19 11:54] SpiritBaker commented on #20
Updated dropbox again. I've checked most of the buildings, AI builds and upgrades them.
Simplified triggers, tweaked AI values.
Added Freebuilding slot to a Fort.
Removed Fort level and zone of control from Naval base.

[2020-04-19 12:08] stackpoint commented on #11
From https://github.com/TheDivexz/excelmakesbelhappypack/pull/26:

I've been doing all my testing of the dev click on an earlier commit on this branch because that was the commit I knew was working. I added a fix for the lag but there are some other problems.

Apparently, it seems like sometimes the AI deliberately hits the monarch point cap before taking tech early or at all. I don't know if this

[2020-04-19 22:01] stackpoint commented on #20
Since you've tested it so much I wouldn't mind placing it into the master branch for testing but decisions about balancing would need to go through someone like @Belusterk or Arumba.

[2020-04-20 06:47] SpiritBaker commented on #20
Well I'm just suggesting this changes, the only crutuail one is zone of control on Naval base. I think it adds maintenance modifier to Naval Base. I've tried different values went to 1000+ range and it was not enough.  Without it AI builds Naval Bases at value 0.5, force limit modifiers have very high hardcoded value.

[2020-04-20 14:04] mellester opened #28 "Same colour CB"

[2020-04-20 17:06] stackpoint commented on #2
Released vassals/countries should now get the same number of ideas as the country who released them, after 40-50 days. This is to give the released nation enough time to actually pick their ideas groups.

[2020-04-20 17:06] #2 closed, assigned to stackpoint

[2020-04-20 21:35] stackpoint commented on #18
There is also the issue of non-razing tribals being able to choose horde ideas.

Need to add:
[code]

[2020-04-21 14:43] dhruv-tailor commented on #7
do you think it'd be possible to get rid of mil access taking a relationship slot rather than adding +/- 1 relation every time cause that is open for abuse as well. say you're at 4/4 relations then ask for mil access. you now have 5/5 you can now abuse it and get into an alliance and royal marriage with them for free now

[2020-04-21 15:21] mellester commented on #7
it needs to stop giving you that free dip relations the moment you gain a royal mariieg

[2020-04-21 17:06] stackpoint commented on #7
I can't find anything in the code that references the types of diplomatic relations a country has.

[2020-04-21 17:22] mellester commented on #7
You will have to check if there alied or have subject rrealtions etc

[2020-04-21 17:28] stackpoint commented on #7
According to: https://eu4.paradoxwikis.com/Diplomacy#Diplomatic_relations_cap

- Alliances: alliance_with
- Royal marriages: has_opinion_modifier
- Guarantees: guaranteed_by
- Having a vassal or junior personal union partner: <subject_type>
- Receiving military access
- Supporting independence
- Having a client state: <subject_type>

I just realized that there's a way to check the mil access using

[2020-04-21 17:31] mellester commented on #7
Also you check the number of used relations a player has and check that gainst they other list

[2020-04-21 17:36] stackpoint opened #30 "Clearing Error.log and the Validator"
Going to start going down the list and working on errors:
- [x] [[province.cpp:364]: _Discovered capacity should be at least 1216](https://github.com/TheDivexz/excelmakesbelhappypack/issues/30#issuecomment-620937144)
- [ ] [province.cpp:8438]: Invalid tag trying to discover province [X] - [Province]

[2020-04-21 22:00] mellester commented on #11
Dev click currently in the Experimental buils

[2020-04-22 07:29] stackpoint commented on #28
I may be having some minor performance issues. Not definitive though.

I would like to refine the wargoal type though. Border dispute is good but I would definitely like to add options for the AI to return cores and release nations since those also cause nations to shrink with causing as much AE.

Also, I did notice "# NOTE: The order in which the peace options are listed is the order in which the

[2020-04-22 19:22] stackpoint commented on #20
The build order AI is bugging out when given buildings. Not sure if it's the ME specific buildings or when the AI doesn't have the tech to build the buildings themselves. All I am sure for certain is that the AI won't hold on to their gold when all the add_building code gets commented out.

[2020-04-23 15:31] JamesMConroy opened #32 "Improve the README"
Some things to clean up are:
- "also other improvemnts to ai and develment ideas"
  - develment should be development
- "Startup events know includes"
  - know should be now
- "plugged in Theatrum Orbis Terrarum graphich pack"
  - graphich should be graphics
- "fixed integrate Moneyloaners not working"
  - Moneyloaners should be Moneylenders

[2020-04-23 15:32] JamesMConroy commented on #32
Created pull request #33 for this

[2020-04-23 17:39] stackpoint commented on #32
Did you get everything in that pull?

[2020-04-23 17:55] mellester commented on #32
looked good pull has been accepted

[2020-04-23 18:24] #32 closed, assigned to nobody

[2020-04-25 17:50] stackpoint opened #37 "Restrict Cancel Subsidies when Renting Condottieri"
There might be something in diplomatic_actions we can use.

[2020-04-25 18:19] mellester commented on #30
[province.cpp:364]: _Discovered capacity should be at least 1216

Extensivly googled this error. Nobody knows how to fix it

[2020-04-25 20:09] mellester commented on #7
[code]

[2020-04-28 06:53] #11 closed, assigned to mellester

[2020-04-28 20:07] Killuah2k opened #42 "Rebels go from 10% to 100% within one month"
Hi,

not sure if it's a bug (or a feature). Also not sure if it's caused by the modpack.

While beeing at war peasant rebels in West Java (all 5 provinces have 3.5 unrest -> 14.6% chance to increase) instantly move from 10% to 100% between 02/1490 and 03/1490.

![Rebels](https://user-images.githubusercontent.com/3479917/80532492-89eaee80-899c-11ea-9656-80a2fdcf89d7.PNG)

Savefile:
[Palembang1490_0

[2020-04-28 21:07] stackpoint commented on #42
This is really strange. I'm not entirely familiar with the rebel mechanics but I believe they're only supposed to increase 10% a month. Using harsh treatment causes them to increase at unusual percentages too. Please let us know if this happens again.

[2020-04-29 01:18] stackpoint commented on #30
[province.cpp:364]: _Discovered capacity should be at least 1216

I did some testing on this and it seems like you can only define 814 tags in the /common/country_tags/ folder before this error starts appearing. We could delete some vanilla tags to make room for the 16 tags ME is over but that seems a bit drastic.

[2020-04-29 01:37] stackpoint commented on #30
I can't believe it, reducing the allotted slots for custom nations actually fixed it:
[code]

[2020-04-29 05:44] stackpoint commented on #20
Thanks for your contribution @Ivanjpeg I made a new branch with your changes and once I finish the ME add_building fixes I will push it to master. Was there any other changes you've made?

[2020-04-29 06:54] SpiritBaker commented on #20
Everything on the future branch. Only balance issues remain and the fact that AI is not upgrading trade centers.

[2020-04-30 21:10] rieger07 opened #43 "Wales Cannot Complete "Fate of Wales""
Loving the pack guys! Ran into an issue though...

I made it through 99% of the `missions expanded` mission tree of wales.
Completed "A burgeoning kingdom" (`WLS_parliment_1`) ... i'm pretty sure that the "Senned" is never actually built/started, or the event never fired or something is missing.

References `WLS_parliment_1` and `WLS_parliment_2` in [ME_Wales_Braelyc_Cymru_Missions.txt](https://gi

[2020-04-30 21:42] stackpoint commented on #43
Maybe the courthouse line. I'll take a look when I go through the missions tonight. Thanks for such a detailed report.

[2020-04-30 22:33] Grociu commented on #43
Did some testing on this. Results:
1. In principle changing all instances of `production_lvl_4` to `counting_house` in `WLS_parliment` AND `WLS_parliment_2` works as a fix for this. The conditions are met, the building is being built, the building finishes and event fires in 10 years, If I decide I want parliament, I can complete the next mission.
2. `counting_house` is actually the Huge Workshop.

[2020-04-30 23:12] stackpoint commented on #43
Around what year do we expect players to get to this mission?

[2020-04-30 23:37] Grociu commented on #43
You need to not be a subject of England and have 15 non-Welsh culture cores. How many wars would that take for an average player?

[2020-04-30 23:48] rieger07 commented on #43
I can say I got to the final mission that was broken @1540ish, but I got lucky with an unholy alliance with castille/france to break free.

[2020-04-30 23:52] stackpoint commented on #43
We could predicate it on the third government building then that spawns at adm tech 16, year 1609.

[2020-04-30 23:58] mellester opened #45 "Not existing Ideas groups."
Some idea groups don't exist anymore so events and decision form vanilla break sometimes.
My suggestion is to use find and replace in all files to replace every mention with another set of ideas.
prevarbly more than 1.

[2020-05-01 00:02] stackpoint commented on #45
I believe I've caught most of them. Just need to add AI personalities file in.

[2020-05-01 00:05] mellester commented on #45
Alright :thumbs up:  reg ideas is a tricky one because it still exist.

[2020-05-01 00:07] stackpoint commented on #45
Ah, I need to check the vanilla religious ideas, that's right. I've caught all the religious ideas in the modpack but not the vanilla references.

[2020-05-01 02:17] stackpoint commented on #43
Okay, I've pushed a fix on the build-order-2 branch. It may require tweaks based on balance but that's a whole different discussion.

I moved the building requirement over to the courthouse line and required the level 3 building to complete the final mission.

[2020-05-01 02:17] #43 closed, assigned to stackpoint

[2020-05-01 02:43] stackpoint commented on #43
What likely happened in the original files is that WLS_parliment was supposed to build a production_lvl_4 that would complete in 10(!!!) years. But it would also skip that construction if you were building something in your capital but not restrict you from pressing the button. So you could complete the mission but skip starting the construction....
[code]

[2020-05-01 02:46] stackpoint commented on #24
Fixed here: https://github.com/TheDivexz/excelmakesbelhappypack/tree/build-order-2

[2020-05-01 02:46] #24 closed, assigned to nobody

[2020-05-01 02:48] stackpoint commented on #20
Thanks for you patience. I have your tweaks and the event/mission building fixes so the AI will not be getting future buildings/over building limit, in this branch here: https://github.com/TheDivexz/excelmakesbelhappypack/tree/build-order-2

If you could help me test this, I will push it to master with your green light.

[2020-05-01 02:49] stackpoint commented on #20
@Ivanjpeg  Thanks for you patience. I have your tweaks and the event/mission building fixes so the AI will not be getting future buildings/over building limit, in this branch here: https://github.com/TheDivexz/excelmakesbelhappypack/tree/build-order-2

If you could help me test this, I will push it to master with your green light and a final pass through.

[2020-05-01 08:53] stackpoint commented on #45
I believed fixed here: https://github.com/TheDivexz/excelmakesbelhappypack/commit/189831e951665168d81ceef080b4dec1d9d8f406

[2020-05-01 08:53] #45 closed, assigned to stackpoint

[2020-05-01 20:20] #20 closed, assigned to stackpoint, SpiritBaker, Belusterk

[2020-05-02 11:08] Grociu opened #50 "Elective Monarchy monarch skill bonuses don't apply"
Attempted to be addressed here: dd13b489b626f982cd6d38d185edefdfc4379377 e6877b9614200553e640af708ce2511cc1d26353

There are three ideas that are supposed to give you +1 skill for your elected ruler for elective monarchies.

There are 2 cases here:
CASE1: Generic Elective Monarchy: - `elective_monarchy_reform` - government reform
CASE2: Poland and PLC: - `elective_monarchy` - at start of game

Cur

[2020-05-02 16:57] Grociu commented on #50
[code]

[2020-05-02 17:00] Grociu commented on #50
This is where I'm at, at the moment.
The issue is, that we can also turn this 'bug' into a feature. The bonuses seem to get applied to your dynastic heir, but not to the fake pretenders that are not your favorite son that you get from foreign powers (POL) or event.
If we change localization to always refer to your dynastic heir with the bonuses, this will make more sense in game. Out of a box but

[2020-05-03 01:16] mellester commented on #50
Makes sense to have the bonus only apply to you dynasty

[2020-05-03 01:17] stackpoint commented on #50
That does make sense, though it should clarify that in the tooltip.

[2020-05-03 13:47] stackpoint opened #51 "Flavor Text Changes"
Constant changes in the mod's functional code, creates a mismatch between code and flavor text. For example - Idea 'Corvettes' had its function changed from `ship_durability` to `recover_army_morale` but the in game description still referred to the navy.

These are identified issues can be worked on to make the user experience more pleasant :)

**Current Issues:**
NULL

**CANNOT REPLICATE**
 "Als

[2020-05-03 14:27] stackpoint opened #52 "Sack of X event"
There is a currently a 10% chance after winning a siege of also sacking the province if your army professionalism is under 50%. This includes any of your own provinces that had been occupied by the enemy including your capital. We can adjust this to fire more often, adjust the professionalism requirements for sacking your own land, or even add more options to the sack itself.

Under events\ArmyPro

[2020-05-03 15:14] Grociu commented on #51
Ideas possibly affected by this are listed below. These vanilla ideas had their effect changed by more than a numbers tweak. For each of these the name of variable stayed the same and no new text was provided. Some can be left as is I think.

`scientific_revolution`
MOD:  reform_progress_growth = 0.33	innovativeness_gain = 0.15
Vanilla: technology_cost = -0.1 embracement_cost = -0.1
`scientific_re

[2020-05-03 18:54] mellester commented on #50
I have done some testing and decided to close this bug. Happy to report its working as intended.
I have created testing modifiers that gave huge adm bonus to rulers and heirs. and killed them offer and offer
![image](https://user-images.githubusercontent.com/609138/80922201-afe90800-8d7b-11ea-8084-8da3b6d3aeb4.png)
The second option of the event.
![image](https://user-images.githubusercontent.com/

[2020-05-03 18:54] #50 closed, assigned to mellester

[2020-05-04 03:38] stackpoint commented on #51
If the idea groups are going to be changed soon than it's probably not necessary to update the flavor text at the moment.

[2020-05-04 03:41] stackpoint opened #53 "Hard mode scaling modifiers"
Might need to scale down some of the modifiers slightly and add a % manpower recovery. Among other things like naval morale.

[2020-05-04 06:32] SpiritBaker commented on #53
Keep in mind that AI have reduced cap on wartime spendings for both Navy and Army, while having substantially more income. This is probably affects things you observing.

Also you can just override in game difficulty with stuff u want. The game even have difficulty_hard.lua and difficulty_very_hard.lua, for overwriting defines specifically for higher difficulty.

[2020-05-04 07:13] stackpoint commented on #53
The modpack is using the IV hard mode that scales in ages:
[code]

It also looks like the bonuses don't scale at all. All the triggered modifiers have the same values for the different ages.

Something else I noticed in naval battles is that your fleet can gain morale when it loses a ship because the average morale goes up. I believe flogi mentioned it was because he set NAVAL_CASUALTY_MIN_MORALE_

[2020-05-04 09:00] stackpoint commented on #30
Cleared all non-trivial errors out of the error.log file. See: https://github.com/TheDivexz/excelmakesbelhappypack/commit/8ec45e58495184becaba8c646fd7d7cde35d4296

[2020-05-04 09:01] stackpoint commented on #30
Cleared all non-trivial errors out of the error.log file. See:

[2020-05-04 15:47] mellester commented on #53
Cant we check in game what difficulty the game is set too?

[2020-05-05 00:07] stackpoint opened #56 "Development Ideas"
There has been a lot of discussion about how strong the development ideas events (impactful_devastation_prosperity.txt) are. There are a couple couple options on how to tune them.

1. Enable the devastation portion of the [original mod](https://steamcommunity.com/sharedfiles/filedetails/?id=1386894948)
2. Enable the event for all nations instead of just those with development ideas
3. Enable [is_m

[2020-05-05 10:03] stackpoint commented on #53
This is something I came up with, since Mel mentioned to me that he didn't like the high combat modifiers that the AI got and the lack of recovery speed modifiers. We can set it so it actually scales into the ages too.

[code]

[2020-05-06 08:41] stackpoint opened #59 "Changelog/Readme Updates"
To update the documentation and make a new release version:

- settle on a version number and release name if any
- edit `README.md` with a breakdown of most important new version features, version number and release name
- edit `changelog.txt` with all the changes
- git commit
- wait for the bot to update the startup event
- git pull
- make a new version tag in git
- git commit --tags

Automation

[2020-05-06 19:43] stackpoint opened #60 "Estates"
- [x] estate_church
- [x] estate_nobles
- [x] estate_burghers
- [x] estate_cossacks
- [x] estate_dhimmi
- [x] estate_janissary
- [x] estate_nationalist
- [x] estate_jains
- [x] estate_rajput
- [x] estate_brahmins
- [x] estate_maratha
- [x] estate_vaisyas

[2020-05-07 14:54] Grociu commented on #59
This should be helpful, these commits edit the mod code (as opposed to python/GitHub scripts) since 26th April.

**10th May 2020***
Every 250 developement gives a leader up from 100

aa9d3b3c493c0f68c16fa51aeead79f63bf13c65
Pass a Law now restricted to tags without the finalgov reform

d30adb3ffb13e632773bebff845834624ff0c6f2
For republics add scaling reelection costs based on months of ruling.

4

[2020-05-07 15:29] Grociu commented on #60
Estate interactions are reportedly a confusing mess for a newcomer. With a blessing, I'll be working on these ideas to improve the UX:
* [x] Color coding the interactions - get money and power to green, execute important person to red and so on.
* [x] Reordering the interactions so they appear in a more organized order (by color groups)

[2020-05-07 15:33] afowl commented on #60
Color coding yes. Though my idea was that group them in files and explain how to change colors so a person can potentially change colors.

Order is fine imo just needs to be done for all estates in similar fashion

[2020-05-07 15:36] Grociu commented on #60
The argument for changing the order: it will look really weird when color coded if the colors are not grouped.
I think they appear in order of appearance in name_of_estate.txt so that would be just a matter of rearranging them after the criteria for colors are established.

[2020-05-07 16:37] stackpoint commented on #60
We can color first and figure out the specific order later.

[2020-05-07 16:48] Grociu commented on #60
Proof of concept unsorted:
![image](https://user-images.githubusercontent.com/49829764/81321352-c69ca100-9092-11ea-9761-b7bbcc7e3225.png)
Following key was used for these Clergy interaction:
(number in bracket, position in current code)

* I get something good, they lose loyalty: GREEN

* I get something, they get Influence: TEAL

* I get something, they lose loyalty but gain influence: YELLOW

*

[2020-05-07 17:00] Grociu commented on #60
Sorted:
![image](https://user-images.githubusercontent.com/49829764/81322953-f8af0280-9094-11ea-8b41-7459aa0b21e4.png)

[2020-05-07 17:06] stackpoint commented on #60
It looks good and the reasoning is good. @afowl what do you think?

[2020-05-07 17:38] Grociu commented on #60
Issue: It's hard to see which interactions were clicked already. I can't find the gui for the interaction buttons. My intention was to modify the 'greyed out' effect, but it might be hardcoded. Anyone had any experience with that?
On the picture below, starting with green Impose a Tax, everything below is cllicked/unavailable. Hard to see the cut.
![image](https://user-images.githubusercontent.com

[2020-05-07 17:54] afowl commented on #60
Don't sort imo. I think they were sorted by some intention of how long between clicks are they and usefullness

[2020-05-07 18:10] Grociu commented on #60
That may have been so at the start, but those numbers (time between clicks) were modified already. I prefer sorted, even though it's more work for me ;). I will definitely color them all. Sorting will rearrange the order of interactions in name_of_estate.txt. Should I sort @stackpoint ?

[2020-05-07 18:14] stackpoint commented on #60
I think we should leave it unsorted for now. There is still a bit of work to be done for the estates in terms of functionality which can issues and the specific order could use some work too.

Like recruit ministers should be the second to last group. And demand administrative support wants to be behind the add influence options to increase its output.

[2020-05-07 18:28] stackpoint commented on #60
I definitely think you should commit the color changes to master though, very well thought out coloring scheme. And we can definitely draft orders and discuss why things should be in this or that order.

Something I've noticed is that a lot of the estates functionality seems baked in. Scripted triggers don't seem to work and I can't get custom localization working at all (expire date on title).

[2020-05-07 18:55] Grociu commented on #60
![image](https://user-images.githubusercontent.com/49829764/81333332-b988ad80-90a4-11ea-88b1-33245a4195f3.png)

For reference Brahmins and Clergy. Order is just a mess. Switching between them is visually painful.

[2020-05-07 19:13] stackpoint commented on #60
Yeah, once I do a pass on all the estates we can definitely figure out a specific order.

[2020-05-07 19:23] Grociu commented on #60
<I can't read code>

[2020-05-07 19:35] stackpoint commented on #60
Not sure what you mean by this.

[2020-05-07 19:41] Grociu commented on #60
Nevermind, I was incorrect.

[2020-05-07 20:45] stackpoint commented on #22
See: https://github.com/TheDivexz/excelmakesbelhappypack/issues/60

[2020-05-07 20:45] #22 closed, assigned to Belusterk

[2020-05-07 20:45] stackpoint commented on #60
church | nobility | burghers
-- | -- | --
  | Call Cortes |  
Make Promises | Make Promises | Make Promises
Impose a Tax | Impose a Tax | ASK FOR CONTRIBUTION*
Send Emissary to Pope* |   |  
MAKE GENEROUS DONATION* | Call Diet* | GRANT MONOPOLY CHARTER*
Seek Support of Clergy* |   |  
Demand Administrative Support* | Demand Military Support* | DEMAND SUPPORT BURGHERS*
Recruit from their Domain | R

[2020-05-07 21:24] Grociu commented on #51
* [ ] Make a reflavor pass on the Fleet Base idea group.
* [ ] Nobility Estate click was changed to no longer give manpower, requires the Monarchy Idea finisher, both need new flavor.

[2020-05-08 07:25] Grociu opened #63 "Issues with Poland"
* [ ] Pospolite Ruszenie reform not affecting Szlachta's Recruit Additional Levies

[code]

`enables_grand_captain` is not used anywhere else in the code, but is referenced in `feudal_levies_reform`

Replicated on master

[2020-05-08 07:27] stackpoint commented on #63
This is likely because of IV interactions overwriting the GE interactions. I will put it in since I'm editing the file at the moment.

[2020-05-08 08:47] stackpoint commented on #63
Fixed. See: https://github.com/TheDivexz/excelmakesbelhappypack/commit/1f57918a8696ce29fc26db4a71d4298964595b63

[2020-05-08 08:47] #63 closed, assigned to stackpoint

[2020-05-08 08:47] stackpoint commented on #14
Fixed. See: https://github.com/TheDivexz/excelmakesbelhappypack/commit/1f57918a8696ce29fc26db4a71d4298964595b63

[2020-05-08 08:47] #14 closed, assigned to afowl

[2020-05-08 20:51] stackpoint commented on #60
As mentioned earlier, the estate clicks outside the main three are completely unsorted and missing functionality. Before I get started adding functionality and ai_will_do logic to the other estates, I would like to figure out a general order to estates clicks so it's easier to work on the estates and figure out which functionality I should add in. In my above comment is the current estate interact

[2020-05-08 23:11] Grociu commented on #60
My idea of grouping 'by color' would be estetically pleasing. After going through almost all the interactions however, this schemet might get confusing with the more obscure estates. Those interactions are less clear cut than the standard and familiar IV ones, while colored the same. Sometimes there is a negative effect for you where you would expect a positive for example.

The 'by color' idea is

[2020-05-09 00:12] stackpoint commented on #60
Your proposed effects order sounds good to me. We should wait until all the interactions are consistent between estates before getting started on it though.

I believe the initial ordering was based on what order you'd want to click the buttons in, but the color coding in the same order does something similar.

I think that the ordering by color then most likely to use seems good.

Spreadsheet: [L

[2020-05-09 06:51] stackpoint commented on #60
It looks like there are functionally duplicate interactions: Seek Support of Clergy is a specific form of Display Legitimacy and Raise Additional Levies is a specific form of Recruit from their Domain. I will probably remove the generic version from their interactions like how the burghers don't have a Impose a Tax on top of their ASK FOR CONTRIBUTION.

[2020-05-09 09:44] stackpoint commented on #53
Draft [Hard Mode.txt](https://github.com/TheDivexz/excelmakesbelhappypack/files/4603171/Hard.Mode.txt)

[2020-05-09 10:52] stackpoint commented on #60
![estates](https://user-images.githubusercontent.com/5704491/81471786-59226a80-918f-11ea-9453-212e9284fbe6.png)

Thanks @Grociu color coding looks great.

And instead of removing the overlapping decisions, I ended up just adding the tax option to the burghers since they use a different ducat calculation.

[2020-05-09 18:48] Grociu commented on #59
Before I start updating documentation here, let's discuss what should be the structure here? How do we envision the documentation in the modpack?

Existing documentation elements:
- GitHub `README.md`
- the `changelog.txt` file
- in-game statup changelog

Am I missing any? I know some automation exists here, if you could explain the current scheme that would be helpful.

[2020-05-09 19:20] Grociu opened #66 "Start-up user experience"
When you launch EU4, pick a country, and load in 1444, you are greeted by a set of popup events and new mod-specific decisions. This might be your first time launching and you don't yet know what everything does. A more structured and noob friendly explanation of features is needed.

* [x] A pop-up explaining to the player what the main features of the pack are might be nice.

* [x] Explain to the

[2020-05-09 20:13] stackpoint commented on #59
So the automation involves:

1. Update the [readme](https://github.com/TheDivexz/excelmakesbelhappypack/blob/master/README.md)
2. Adding a [tag](https://stackoverflow.com/questions/18216991/create-a-tag-in-a-github-repository)
3. [Github actions bot](https://github.com/features/actions) will see the new tag and generate the [startup event](https://github.com/TheDivexz/excelmakesbelhappypack/commit

[2020-05-09 20:18] Grociu commented on #59
Is this all in one script? What triggers this script? Where does the script take the data to update README.md from?

[2020-05-09 20:20] stackpoint commented on #59
I miswrote, humans do 1 and 2 and the bot does 3 and 4. Adding the tag triggers the bot.

[2020-05-09 20:24] stackpoint commented on #66
This is actually a debugging tool, we should disable it for human players.

This technically does work, it become available to click once the country has the most income.

It definitely does

This is directly lifted off the readme, so we should update that to update that event.

[2020-05-09 20:27] Grociu commented on #59
OK. I understand this workflow now.
I'm going to edit the README.md with the important stuff and changelog.txt with a more detailed breakdown. We're due for a release anyway.

[2020-05-09 20:32] Grociu commented on #66
Yeah, the intention behind this decision was to trigger a tag change on highest income for Meek to Peak. The trigger works indeed, but the button does nothing as it was WiP.

[2020-05-09 20:34] stackpoint commented on #66
It more so that he didn't need to check the ledger so often and the decision would pop up in the alerts bar.

[2020-05-10 02:20] stackpoint commented on #3
Tie additional generals to development. https://github.com/TheDivexz/excelmakesbelhappypack/commit/2259006dc6c7cdfbf779521fbefad4ccbcdc147e

[2020-05-10 09:39] Grociu commented on #59
The docs are up to date as of 10.05.2020 release v2.6 4efc557f22c20b708a2b856da9becd7c1f68d081

[2020-05-10 19:23] Grociu commented on #66
Halfway done, test it on the [startup-ux ](https://github.com/TheDivexz/excelmakesbelhappypack/commits/startup-ux) branch.

[2020-05-11 19:14] #66 closed, assigned to Grociu

[2020-05-12 02:35] stackpoint opened #71 "Hard crash"
Hard crash in save at 1676/09/26

Couldn't find anything in the logs and the only other mod is Dynamic Cultured Music

See: https://discord.com/channels/174949513000255488/695770547187089480/709580448103399434

[Russia1676_09_21.eu4.txt](https://github.com/TheDivexz/excelmakesbelhappypack/files/4613057/Russia1676_09_21.eu4.txt)

[2020-05-12 05:13] stackpoint commented on #71
Austria is causing the crash. Not sure how to check events in progress.

[2020-05-12 09:41] #71 closed, assigned to nobody

[2020-05-12 11:04] Grociu commented on #59
May 14th 2020
Added missing localization for Timurid Princes Events
Fixed pathing for new trade connections to be more visually pleasing
You can now properly save Army Templates
Fixed a bug where trade from Caribbean was passing through Mars in an attempt to establish Elon's Colony.
Added historical trade node connections in the Americas:
- st_lawrence to chesapeake
- james_bay to north_sea
- ches

[2020-05-14 03:19] stackpoint commented on #60
So I just finished going through all the estates and tried to sort them consistently and added ai_will_do to all of them. There was a lot of small edits so its very likely that there were mistakes made (as seen by my constant bugfixes while going through the estates)

[2020-05-14 06:54] #28 closed, assigned to mellester

[2020-05-14 06:55] #60 closed, assigned to stackpoint

[2020-05-15 00:33] plak20 opened #79 "Crash on reform overflow"
I was playing as Transoxiana>Timurids with the reforms Iqta+Strengthen noble privileges+Ulema guidance+Feudal levies and now trying to take administrative clergy to unlock the next empowered reforms (Divine blood/Monastic militarism), but when I take it my game crashes instantly
![20200514211809_1](https://user-images.githubusercontent.com/22401618/81998918-0f6fcf00-962a-11ea-935c-dbfef1405378.jpg

[2020-05-15 00:41] stackpoint commented on #79
What version of the modpack are you using? Could we get a save file?

[2020-05-15 00:56] plak20 commented on #79
Sorry for the delay, the version is V0.2.2 and I was having trouble uploading to github (not used to it) so I just uploaded it to google drive https://drive.google.com/open?id=1PeaBCPa9QnuhHLYa-gibAbk1113tPJDI

[2020-05-15 03:44] stackpoint commented on #79
For some reason the game is having trouble incrementing the variable and is causing the crash:
[code]

[2020-05-15 04:07] plak20 commented on #79
I have been messing with it for a while now and its seems to be related to the tier 2 reform, Strengthen noble privileges, when I change the tier 2 one I can select the tier 4 admin clergy , but if I then select the tier 2 noble privileges again it crashes the game
Edit: it seems that if you take the other reform that also gives noble influence, diplomatic positions, it also crashes, but if you ta

[2020-05-15 04:17] stackpoint commented on #79
Actually, I just remembered that the game crashes when there are too many reforms on a tier. So if your influence is too high in multiple factions, too many reforms appears which crash the game.

[2020-05-15 04:32] stackpoint commented on #79
On the GE discord they mention that its likely that one of the ME custom reforms is causing GE to overflow past the max 8 reform slots.

[2020-05-15 04:35] plak20 commented on #79
ahhh, that makes sense, as I already have 8 slots at my tier 4 reforms as I am in the uzbek culture group and get the turkoman gunners

[2020-05-15 05:29] stackpoint commented on #79
If you are familiar with text editing, you can fix this for your specific situation by
commenting out/deleting the turkoman gunners ME reform: https://github.com/TheDivexz/excelmakesbelhappypack/blob/master/common/governments/00_governments.txt#L212

[2020-05-15 06:50] Grociu commented on #79
How commonly can we expect this bug to occur (overflowing past 8 reform slots) and how can we remedy this as a more permanent solution?

[2020-05-15 06:52] stackpoint commented on #79
I'm pretty sure the GE devs have set up their system so it never overflows. It's just that ME adds reforms which adds it's own problems.

[2020-05-15 07:10] plak20 commented on #79
Yep, I just did it and it works, thanks a lot for being so helpful, really apreciate you taking the time to find and help fix the issue

[2020-05-15 07:11] plak20 commented on #79
btw, should I close the issue?

[2020-05-15 07:14] stackpoint commented on #79
We still need to figure out a general solution.

[2020-05-15 07:20] plak20 commented on #79
ah ok, well, either way I'm going to go now, good luck to you all, and might I add the mod has been great, good night!

[2020-05-15 11:43] Grociu commented on #59
The docs are up to date as of 15.05.2020 release v2.7.1 421c9f9e3960599bebf7a6b9673827fa08f2c1dd

[2020-05-15 17:08] Grociu opened #82 "Rewrite mission triggers to use the new buildings system"
ME mission system is referencing only vanilla buildings while we have the IV building system.
If a mission trigger references a building by name:
[code]
It won't validate if you have `trade_lvl_2` which is a tier2 trade building in the current system.
Each building reference in missions needs to be reevaluated essentially case by case.
I'm using the `province_has_building_of_group` scripted trigge

[2020-05-15 22:23] Pallan-Minerva opened #85 "Idea Variation Ideas Overflow"
Hello,

Have had this bug since first version of this pack. All Idea Variation custom idea groups repeat their ideas twice, but you cannot continue in the idea group after finishing the first set, so you are prevented from finishing idea groups.
![image](https://user-images.githubusercontent.com/65426352/82100915-0558d980-96d9-11ea-8a8b-47142e55add7.png)
![image](https://user-images.githubusercont

[2020-05-15 22:25] stackpoint commented on #85
You need to delete the entire excelbel folder when reinstalling or updating.

[2020-05-15 22:29] Grociu commented on #85
Pretty cool bug! It looks like the IV Idea Groups are doubled, would this happen if you put more than 7 ideas into a group? Or two copies of a file?

[2020-05-15 22:30] Pallan-Minerva commented on #85
@stackpoint That fixed it. Thank you.

[2020-05-15 22:30] #85 closed, assigned to nobody

[2020-05-15 22:30] stackpoint commented on #85
This started happening when someone renamed the idea groups files.

[2020-05-16 03:50] stackpoint commented on #52
Made a change to the event that prevents the province from being sacked if it belongs to the sieger or the non sovereign subject of the sieger. Also if it belongs to the overlord of the non sovereign subject or any of their other non sovereign subjects. For example, daiymos and tributaries can still sack each other while a vassal unsieging your capital can not.

[2020-05-16 03:51] #52 closed, assigned to nobody

[2020-05-16 22:53] #53 closed, assigned to mellester, SpiritBaker

[2020-05-18 06:46] Grociu commented on #59
May 17th 2020 current as of cbd22d5bc68fe53b30ab1aeaa74e653f134f8891
A lot of small fixes cleaning the startup log.
Missing localizations for 'Get my ideas' evnets.

May 16th 2020
IV Hard Mode AI Bonuses now properly scale with Future Ages:
Rough estimate as compared to Age of Discovery: Age of Reformation: 2x Age of Absolutism: 3x Age of Revolutions 4x
Free policies for AI are now +0/+1/+2/+3
GBR

[2020-05-18 15:01] Grociu commented on #59
The docs are up to date as of 18.05.2020 release v2.7.2 35825004746b417a497572e34e39a1fe58db6661

[2020-05-19 05:36] stackpoint commented on #56
See: https://github.com/TheDivexz/excelmakesbelhappypack/pull/95

[2020-05-19 05:36] #56 closed, assigned to nobody

[2020-05-19 19:44] #82 closed, assigned to Grociu

[2020-05-20 09:12] #18 closed, assigned to stackpoint, afowl, Belusterk

[2020-05-20 18:54] stackpoint commented on #3
See: https://discord.com/channels/174949513000255488/701521158029181089/712244549874876556

[2020-05-21 08:51] stackpoint commented on #30
Some errors while the game was running:
[code]

[2020-05-22 12:05] Grociu commented on #59
May 25th 2020
General development curve changed via modifiers:
development_scaled = local_development_cost = 0.025 (up from 0.02)
manpower = local_development_cost = 0.005 (down from 0.01)
provincial_production_size = local_development_cost = 0.005 (down from 0.01)
provincial_tax_income = local_development_cost = 0.005 (down from 0.01)
This makes early dev cheap, late dev expensive.
Numbers readju

[2020-08-29 13:24] Stiopa866 opened #112 "Optimizations of a Modpack"
Excelbel is a modpack in nature - a definitive collection of mods.
However, Expanded Mod Family as standalone mods share a different philosophy - one that promotes making sacrifices in fluidity of the game mechanics and optimization to ensure compatibility.

That means, that many optimizations can be put into the modpack.

Among the optimizations possible are:

- [ ] Rework the 'Fires of Industry'

[2020-11-05 03:11] #3 closed, assigned to nobody

[2020-11-05 03:11] #7 closed, assigned to mellester

[2020-11-05 03:11] #30 closed, assigned to stackpoint

[2020-11-05 03:11] #37 closed, assigned to stackpoint

[2020-11-05 03:12] #42 closed, assigned to nobody

[2020-11-05 03:12] #51 closed, assigned to Grociu

[2020-11-05 03:12] #59 closed, assigned to stackpoint, Grociu

[2020-11-05 03:12] #79 closed, assigned to nobody

[2020-12-02 17:38] plak20 opened #121 "Having Interface Elements Overlapping (1.30 Austria Version)"
As the title says, I have recently updated the mod and have since tried to start a new campaing but it was quickly stopped due to this problem:

![20201202135122_1](https://user-images.githubusercontent.com/22401618/100906635-2384fc00-34a8-11eb-9273-160cc75b6367.jpg)

  I have had problems in the past with the interface but I cant find a way to work around this one since, when right clicking any c

[2020-12-02 17:44] Stiopa866 commented on #121
@afowl

[2020-12-02 17:52] FelipeFelps commented on #121
I had trouble with It as well, and the only way around It is using hotkeys and the macro builder, instead of clicking on x on the interface Just use esc, on the province interface you can use f or s, one of those, to change between the province overview and the state one, for deving and making states go to the macro builder. Only thing that looks unusable is the parliament seat thing.

[2020-12-02 17:55] FelipeFelps commented on #121
I tried deleting interface folder, it breaks buildings :/

[2020-12-02 18:27] plak20 commented on #121
Update: Hey! pressing S actualy works, I never had to used those hotkeys before so I had no idea they even existed, thanks alot

Btw, should I close the issue now?

[2020-12-02 23:34] Belusterk opened #122 "Chugsworth Nov 30 @ 12:09am"
Trying to complete the Persian "Spread the Imamiyyah" mission causes the game to crash.

[2020-12-02 23:34] stackpoint commented on #122
Is this with steam or github?

[2020-12-02 23:35] Belusterk commented on #122
Steam

[2020-12-02 23:37] Belusterk commented on #122
I Updated Steam on Nov 27 @ 7:17am

[2020-12-03 02:35] stackpoint commented on #122
Could not replicate the bug. You can ask them to upload a save and modlist.

[2020-12-17 01:59] #122 closed, assigned to stackpoint

[2021-01-30 13:24] mehmetatakancavuslu opened #124 "Cannot see 1.30 Austria patch in Latest Releases"
In the latest release page, I cannot see the v.0.30 version which is compatible with 1.30 Austria. How can i download it the latest patch?

[2021-01-30 18:22] AmyClaraRose commented on #124
click code then click download and then you will have latest version

[2021-01-30 22:59] #124 closed, assigned to nobody

[2021-03-21 15:48] Aleksejus1 opened #125 "Wrong modifier added?"
I was playing with this mod and took the enhanced reform called "Empowered Church Councils" but noticed that my provinces with tax building were not getting the production benefit, then i looked into the files of the mod and noticed that for some reason it's giving the Town_Rights modifier instead of Church_Poorhouses, i've linked that part of code here.
https://github.com/TheDivexz/excelmakesbelh

[2021-03-21 21:14] stackpoint commented on #121
For future reference:

![image](https://user-images.githubusercontent.com/5704491/111043502-05079880-83e7-11eb-9e34-237616063600.png)

[2021-03-21 21:14] #121 closed, assigned to afowl

[2021-03-22 03:08] stackpoint commented on #125
Fixed here: https://github.com/TheDivexz/excelmakesbelhappypack/commit/9ed3f518edcb7c9fcfefd576086f386f4548db97

[2021-03-22 03:08] #125 closed, assigned to stackpoint

[2021-05-06 20:01] EvanDurfee opened #126 "Consistent crash when loading certain savegames"
I've tried playthroughs as Otomo and Tokugawa recently, and have run into an issue which will consistently crash my game for a given save. Sometimes it's worked to go back to an old enough save and the crash doesn't occur.
For instance, right now the crash occurs at the end of may on my save from January first, and once I saw the event window pop up right before the crash.
mod version: df5a169b819

[2021-05-06 20:43] EvanDurfee commented on #126
So, after further testing and crashing the game many times, I found one workaround was to remove any one of the non-monopoly burgher privileges, or several of the privileges of the nobles / church (I couldn't find a particular pattern). Then, no event fired at the end of may and my game kept running. I attached a screencap with the active privileges.
![Screenshot from 2021-05-06 22-27-13](https://

[2021-06-01 09:19] EvanDurfee commented on #126
Upon further investigation, I think the issue is just that the linux version of eu4 is buggy as all get out and some of the scripting flat out doesn't work. Closing as an issue with the game, not the mod.

[2021-06-01 09:19] #126 closed, assigned to nobody